/* montserrat-regular - latin_cyrillic */

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: local(""),
    url("../fonts/montserrat-v15-latin_cyrillic-regular.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/montserrat-v15-latin_cyrillic-regular.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* montserrat-500 - latin_cyrillic */

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  src: local(""),
    url("../fonts/montserrat-v15-latin_cyrillic-500.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/montserrat-v15-latin_cyrillic-500.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/*
 * main styles start
 */

body {
  width: 100%;
  margin: 0 auto;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  line-height: 30px;
  color: #533738;
}

.wrapper-big {
  max-width: 1200px;
  margin: 0 auto;
}

.wrapper-small {
  max-width: 1036px;
  margin: 0 auto;
}

/*
 * main styles end
 */

/*
* header styles start
*/

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 38px;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
}

.header__logo {
  height: 25px;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 20px;
  background: url("../img/svg/logo-icon.svg") no-repeat left -3px;
}

.header__logo-link {
  margin-right: 89px;
  padding-left: 25px;
}

.header__navigation-list {
  display: flex;
  justify-content: space-between;
}

.header__navigation-item {
  padding-right: 30px;
}

.header__navigation-link {
  display: block;
  font-size: 16px;
  line-height: 20px;
  color: #533738;
}

.header__contact {
  font-size: 16px;
  line-height: 20px;
}

.header__phone {
  font-size: 16px;
  line-height: 20px;
  color: #533738;
}
/*
* header styles end
*/

/*
* Intro styles start
*/

.intro__main-title {
  font-size: 0;
  line-height: 0;
}

.intro {
  min-height: 776px;
  background-color: #f9eae1;
  background-image: url("../img/header-bg.jpg");
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: cover;
  padding-top: 214px;
  margin-top: -63px;
}

.section-title {
  font-weight: normal;
  font-size: 40px;
  line-height: 50px;
  text-align: center;
  padding-left: 3px;
  text-transform: uppercase;
  margin-bottom: 40px;
}

.intro__title {
  width: 534px;
  font-size: 50px;
  line-height: 62px;
  margin-bottom: 20px;
  text-transform: none;
  text-align: left;
}

.intro__description {
  width: 444px;
  margin-bottom: 25px;
  padding-left: 3px;
}

.intro__button {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  background-color: #cc8b86;
  padding-top: 25px;
  padding-left: 69px;
  padding-bottom: 24px;
  padding-right: 69px;
}
/*
* Intro styles end
*/
/*
* About styles start
*/
.about__article {
  width: 100%;
  background-color: #e5e5e5;
}
.flex-container {
  display: flex;
  column-gap: 65px;
  margin-bottom: 21px;
}
.article__title {
  padding-top: 66px;
}
.article__paragraph {
  margin-bottom: 30px;
}

.article__footer {
  width: 100%;
  background-color: #8d7370;
}
.article__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.article__item {
  font-size: 50px;
  line-height: 62px;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
  padding-top: 86px;
  padding-bottom: 81px;
}
.article__span {
  display: block;
  font-weight: 500;
  font-size: 30px;
  line-height: 37px;
  padding-top: 6px;
}
/*
* About styles end
*/
/*
* Projects styles start
*/
.projects {
  width: 100%;
  padding-bottom: 66px;
  background-color: #e5e5e5;
}
.projects__title {
  text-align: left;
  padding-top: 65px;
  padding-left: 2px;
}
.projects__pictures {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 30px 20px;
  margin-bottom: 40px;
}
.projects__image {
  background: rgba(100, 72, 69, 0.8);
  position: relative;
}
.projects__image_sm {
  grid-column: span 5;
}
.projects__image_lg {
  grid-column: span 7;
}
.projects__image:hover .projects__thumb {
  opacity: 0.2;
}

.projects__description-title {
  width: 270px;
  position: absolute;
  top: 86px;
  left: 110px;
  font-weight: 500;
  font-size: 30px;
  line-height: 37px;
  text-align: center;
  color: transparent;
}
.projects__description-text {
  width: 420px;
  position: absolute;
  top: 180px;
  left: 37px;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  color: transparent;
}
.projects__image:hover .projects__description-title,
.projects__image:hover .projects__description-text {
  color: #ffffff;
}
.projects__more {
  display: block;
  padding-right: 71px;
  font-weight: 500;
  font-size: 30px;
  line-height: 37px;
  text-align: center;
  color: #533738;
  background: url("../img/svg/arrow-more.svg") no-repeat 60.5% center;
  transition: 0.2s all;
}
.projects__more:hover,
.projects__more:focus {
  background: url("../img/svg/arrow-more.svg") no-repeat 62% center;
}
/*
* Projects styles end
*/
