/* montserrat-regular - latin_cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local(''),
    url('../fonts/montserrat-v15-latin_cyrillic-regular.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url('../fonts/montserrat-v15-latin_cyrillic-regular.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* montserrat-500 - latin_cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  src: local(''),
    url('../fonts/montserrat-v15-latin_cyrillic-500.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url('../fonts/montserrat-v15-latin_cyrillic-500.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/*
 * main styles start
*/
html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  margin: 0 auto;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  line-height: 30px;
  color: #533738;
}

.wrapper-big {
  max-width: 1200px;
  margin: 0 auto;
}

.wrapper-small {
  max-width: 1036px;
  margin: 0 auto;
}
/*
 * main styles end
*/

/*
* header styles start
*/
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 38px;
  transition: background-color 0.5s linear;
  z-index: 1;
}

.header:hover {
  background-color: #8d7370;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
}

.header__logo {
  height: 25px;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 20px;
  background: url('../img/svg/logo-icon.svg') no-repeat left -3px;
}

.link {
  color: #533738;
  transition: color 0.5s linear;
}

.link:hover {
  color: #cc8b86;
}

.header__logo-link {
  margin-right: 89px;
  padding-left: 25px;
}

.header__navigation-list {
  display: flex;
  justify-content: space-between;
}

.header__navigation-item {
  padding-right: 30px;
}

.header__navigation-link {
  display: block;
  font-size: 16px;
  line-height: 20px;
}

.header__contact {
  font-size: 16px;
  line-height: 20px;
}

.header__phone {
  font-size: 16px;
  line-height: 20px;
  color: #533738;
}
/*
* header styles end
*/

/*
* Intro styles start
*/
.intro__main-title {
  font-size: 0;
  line-height: 0;
}

.intro {
  min-height: 776px;
  background-color: #f9eae1;
  background-image: url('../img/header-bg.jpg');
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: cover;
  padding-top: 214px;
  margin-top: -63px;
}

.section-title {
  font-weight: normal;
  font-size: 40px;
  line-height: 50px;
  text-align: center;
  padding-top: 65px;
  padding-left: 3px;
  text-transform: uppercase;
  margin-bottom: 40px;
}

.intro__title {
  width: 534px;
  font-size: 50px;
  line-height: 62px;
  margin-bottom: 20px;
  text-transform: none;
  text-align: left;
}

.intro__description {
  width: 444px;
  margin-bottom: 25px;
  padding-left: 3px;
  padding-bottom: 20px;
}

.button {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #533738;
  background-color: #cc8b86;
  padding-top: 25px;
  padding-left: 69px;
  padding-bottom: 24px;
  padding-right: 69px;
  cursor: pointer;
  transition: background-color 0.5s linear;
}

.button:hover {
  background-color: #e2c4ba;
}
/*
* Intro styles end
*/

/*
* About styles start
*/
.about__article {
  width: 100%;
  background-color: #e5e5e5;
}

.flex-container {
  display: flex;
  column-gap: 65px;
  margin-bottom: 21px;
}

.article__title {
  padding-top: 66px;
}

.article__paragraph {
  margin-bottom: 30px;
}

.article__footer {
  width: 100%;
  background-color: #8d7370;
}

.article__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.article__item {
  font-size: 50px;
  line-height: 62px;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
  padding-top: 86px;
  padding-bottom: 81px;
}

.article__span {
  display: block;
  font-weight: 500;
  font-size: 30px;
  line-height: 37px;
  padding-top: 6px;
}
/*
* About styles end
*/

/*
* Projects styles start
*/
.projects {
  width: 100%;
  padding-bottom: 66px;
  background-color: #e5e5e5;
}

.projects__title {
  text-align: left;
  padding-top: 65px;
  padding-left: 2px;
}

.projects__pictures {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 30px 20px;
  margin-bottom: 40px;
}

.projects__image {
  background: #644845;
  position: relative;
}

.projects__image_sm {
  grid-column: span 5;
}

.projects__image_lg {
  grid-column: span 7;
}

.projects__thumb {
  transition: opacity 0.5s linear;
}

.projects__image:hover .projects__thumb {
  opacity: 0.2;
}

.projects__description {
  display: flex;
  justify-content: center;
  align-items: center;
}

.projects__description-title {
  width: 270px;
  position: absolute;
  top: 30%;
  left: 50%;
  font-weight: 500;
  font-size: 30px;
  line-height: 37px;
  color: transparent;
  text-align: center;
  transform: translate(-50%, -50%);
  transition: all 0.5s linear;
}

.projects__description-text {
  width: 420px;
  position: absolute;
  top: 60%;
  left: 50%;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  color: transparent;
  transform: translate(-50%, -50%);
  transition: all 0.5s linear;
}

.projects__image:hover .projects__description-title,
.projects__image:hover .projects__description-text {
  color: #ffffff;
}

.projects__more {
  display: block;
  padding-right: 71px;
  font-weight: 500;
  font-size: 30px;
  line-height: 37px;
  text-align: center;
  color: #533738;
  transition: 0.2s all;
}

.projects__more svg {
  fill: #533738;
  transition: 0.2s all;
}

.projects__more:hover,
.projects__more:focus {
  color: #8d7370;
}

.projects__more:hover svg {
  fill: #8d7370;
  transform: translateX(10px);
}
/*
* Projects styles end
*/

/*
* Team styles start
*/
.team {
  background-color: #e2c4ba;
  padding-bottom: 50px;
}

.team__members {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  column-gap: 38px;
}

.team__member {
  width: 320px;
}

.team__member-pic {
  margin-bottom: 10px;
}
/*
* Team styles end
*/

/*
* Projects__steps styles start
*/
.projects__steps {
  margin-top: -15px;
  background-color: #e2c4ba;
}

.projects__steps-title {
  padding-left: 46px;
}

.projects__steps-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 20px;
  counter-reset: number;
}

.projects__steps-item {
  width: 285px;
  padding-top: 100px;
  text-align: center;
  position: relative;
}

.projects__steps-item::before {
  counter-increment: number;
  content: counter(number);
  width: 70px;
  height: 70px;
  padding-top: 20px;
  color: #ffffff;
  font-weight: 500;
  font-size: 30px;
  line-height: 30px;
  background-color: #8d7370;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
/*
* Projects__steps styles end
*/

/*
* Reviews styles start
*/
.reviews {
  padding-bottom: 65px;
}

.reviews-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.reviews__btn {
  width: 72px;
  height: 72px;
  background-color: #cc8b86;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
  transition: all 0.2s linear;
}

.reviews__btn:hover {
  background-color: #ffffff;
  border: 2px solid #cc8b86;
}

.reviews__btn:focus {
  border: 2px solid #cc8b86;
}

.reviews__quote {
  max-width: 407px;
}

.reviews__text {
  margin-bottom: 40px;
}

.reviews__pic-wrap {
  max-width: 407px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.reviews__btn_prev svg,
.reviews__btn_next svg {
  fill: #ffffff;
  transition: all 0.2s linear;
}

.reviews__btn_prev:hover svg,
.reviews__btn_next:hover svg {
  fill: #cc8b86;
}
/*
* Reviews styles end
*/

/*
* Contacts styles start
*/
.contacts {
  background-color: #8d7370;
}

.contacts-wrapper {
  display: flex;
  justify-content: space-between;
}

.contacts__title {
  color: #ffffff;
  text-align: left;
  padding-left: 0;
}

.form__text {
  color: #ffffff;
}

.form__field input {
  width: 96%;
  background-color: transparent;
  border-bottom: 2px solid #ffffff;
  font-size: 18px;
  line-height: 30px;
  padding-top: 44px;
  padding-bottom: 10px;
  color: #f6ede9;
}

::placeholder {
  color: #f6ede9;
}

input[type='tel'] {
  margin-bottom: 60px;
}

input:invalid {
  border-bottom-color: red;
}
input:valid {
  border-bottom-color: green;
}
/*
* Contacts styles end
*/

/*
* Footer styles start
*/
.footer {
  padding: 37px;
}

.footer-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__phone {
  margin-right: 42px;
}

.footer__company {
  margin-left: auto;
}
/*
* Footer styles end
*/
